<html lang="en">
    <!--
        Code for the fill effect animation found here: https://codingflag.blogspot.com/2020/09/liquid-fill-animation-effect-using-html-and-css.html
    -->


    <%
        var fillAmount = 0;
        if(waterConsumed == 0) {
            fillAmount = 200;
        }
        else if((waterConsumed / waterGoal) > 1) {
            fillAmount = 0
        }
        else {
            fillAmount = 200 - ((waterConsumed / waterGoal) * 200);
            console.log(fillAmount);
        }
        
    %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');</style>
    <style>
        
        .box {
            width:200px;
            height:200px;
            border:10px solid #ccc;
            border-radius:10px;
            line-height:200px;
            text-align:center;
            color:#ddd;
            font-size:25px;
            font-weight:600;
            text-transform:uppercase;
            position:relative;
            overflow:hidden;
        }
        .box:before {
            content:"";
            position:absolute;
            width:400px;
            height:400px;
            background:#00acee;
            left:50%;
            transform:translateX(-50%);
            border-radius:40%;
            animation:fill 7s;
            animation-fill-mode: forwards;
            z-index:-1;
        }
        @keyframes fill {
            from {
                top:200px;
                transform:translateX(-50%) rotate(0deg);
            }
            to {
                top: <%=fillAmount%>;
                transform:translateX(-50%) rotate(360deg);
            }
        }
        #inner {
            position:relative;
            left: 50%;
            margin-left: -100px;
            
        }
        #centeredButton {
            width: 100px; 
            margin: 0 auto;
            
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        p.a {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }

    </style>
    <%- include('./partials/header.ejs') %>
    
    <div class="text-center"><h1>Welcome <%= user.name %>!</h1></div>

    <div id="inner" class="box">
        <p style="color: black;"><% if(waterGoal != 0) {%><%=Math.round(waterConsumed / waterGoal * 100);%><%} else {%><%=0%><%} %>%</p>
    </div>
    <div class="text-center">
        <p class="a">You have consumed <%=waterConsumed%> ounces of water towards your goal of <%=waterGoal%>.</p>
        <p><% if(waterConsumed > waterGoal) { %> Congrats you've met your daily water goal! <% } %> </p>
    </div>
    


    <form action="/addWater" method="POST">
        <div class="text-center" style="margin-bottom: 5px;"> 
            <input type="number" id="water" name="water" placeholder="Add water (oz.)">
        </div>
        <div class="container text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" required>Add</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                  </div>
                  <div class="modal-body">
                    <p id="modalText">Are you sure you want to add this?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <input type="hidden" value=<%= waterConsumed %> name="waterConsumed" />
    </form>

    <form action="/setGoal" method="POST">
        <div class="text-center" style="margin-bottom: 5px;"> 
        <input type= "number" name="goal" placeholder="Set/change your goal (oz.)" required>
        </div>
        <div class="text-center"> 
        <button type="submit" class="btn btn-primary btn-md">Set</button>
        </div>
    </form>
</html>